<!DOCTYPE html>
<html ng-app="dummy">

  <head>
    <meta charset="utf-8" />
    <title>CIPM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hey there!</strong> The site is under development!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dummy project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row" style="padding-top: 10%">
    <div style="height: 300px;"></div>
    <div class="col-md-6">


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Left box</h5>
     <tags-input ng-model="iata1" add-on-paste="true" placeholder="Enter IATA number">
      <auto-complete source="loadIATA($query)"></auto-complete>
    </tags-input>
    <!-- <p>Model: {{iata1}}</p>   -->

    <tags-input ng-model="country1" add-on-paste="true" placeholder="Enter Country">
      <auto-complete source="loadCountry($query)"></auto-complete>
    </tags-input>
  </div>
</div>

    </div>



    <div class="col-md-6">
      <div class="card">
  <div class="card-body">
    <h5 class="card-title">Right box</h5>
    <tags-input ng-model="iata2" add-on-paste="true" placeholder="Enter IATA number">
      <auto-complete source="loadIATA($query)"></auto-complete>
    </tags-input>
    <!-- <p>Model: {{iata1}}</p>   -->

    <tags-input ng-model="country2" add-on-paste="true" placeholder="Enter Country">
      <auto-complete source="loadCountry($query)"></auto-complete>
    </tags-input>

    <tags-input ng-model="state" add-on-paste="true" placeholder="Enter State">
      <auto-complete source="loadState($query)"></auto-complete>
    </tags-input>
     </div>
</div>

    </div>
  </div>
</div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
